<div class="row">
    <form [formGroup]="editorForm" novalidate class="form-horizontal" (submit)="onSubmit()">
        <div class="col-md-6 well">
            <div class="form-group" [class.has-error]="!firstName.valid && !firstName.pristine">
                <label for="firstName" class="col-md-12">First Name</label>
                <div class="col-md-12">
                    <input formControlName="firstName" type="text" class="form-control" id="firstName">
                    <ng2-mdf-validation-message [control]="firstName" *ngIf="!firstName.pristine"></ng2-mdf-validation-message>
                    <span class="help-block">Required input with default error message and style.</span>
                </div>
            </div>

            <div class="form-group" [class.has-error]="!lastName.valid && !lastName.pristine">
                <label for="lastName" class="col-md-12">Last Name</label>
                <div class="col-md-12">
                    <input formControlName="lastName" type="text" class="form-control" id="lastName">
                    <ng2-mdf-validation-message [control]="lastName" *ngIf="!lastName.pristine"></ng2-mdf-validation-message>
                    <span class="help-block">Required input with custom error message and default style.</span>
                </div>
            </div>

            <div class="form-group" [class.has-error]="!username.valid && !username.pristine">
                <label for="username" class="col-md-12">Username</label>
                <div class="col-md-12">
                    <input formControlName="username" type="text" class="form-control" id="username">
                    <ng2-mdf-validation-message [control]="username" *ngIf="!username.pristine" [class]="'text-warning'"></ng2-mdf-validation-message>
                    <span class="help-block">Required input with custom error message, required length and custom style.</span>
                </div>
            </div>
        </div>

        <div class="col-md-6 well">
            <div class="form-group" [class.has-error]="!age.valid && !age.pristine">
                <label for="age" class="col-md-12">Age</label>
                <div class="col-md-12">
                    <input formControlName="age" type="number" class="form-control" id="age">
                    <ng2-mdf-validation-message [control]="age" *ngIf="!age.pristine"></ng2-mdf-validation-message>
                    <span class="help-block">Number input with minimum value input and default error message</span>
                </div>
            </div>

            <div class="form-group" [class.has-error]="!email.valid && !email.pristine">
                <label for="email" class="col-md-12">Email</label>
                <div class="col-md-12">
                    <input formControlName="email" type="email" class="form-control" id="email">
                    <ng2-mdf-validation-message [control]="email" *ngIf="!email.pristine"></ng2-mdf-validation-message>
                    <span class="help-block">Required Email input with default settings.</span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <button type="submit"
                    class="btn btn-success"
                    [disabled]="!editorForm.valid">
                Submit
            </button>
        </div>
    </form>
</div>
